[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyroll-basic = "~=2.1"
pyroll-export = "~=2.2"
jupyter = "*"
pandas = "~=2.0"
scipy = "~=1.9"
matplotlib = "~=3.6"
plotly = "*"
pygad = "*"
pymc = "*"
pycalphad = "*"
kaleido = "*"
tqdm = "~=4.0"

[dev-packages]

[requires]
python_version = "3.11"
