[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyroll-basic = "~=2.1"
pyroll-gripping-analysis = "*"
jupyterlab = "*"
pandas = "*"
scipy = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
pygad = "*"
pymc = "*"
jupyter = "*"
pygad = "*"


[dev-packages]

[requires]
python_version = "3.10"
